  /*-----------------------------------------------------------HEADER---------------------------------------------------------------*/

  #header{
  display: inline-block;
  width: auto;
  position: relative;
}

.divTitle {
    color: #000000;
    font-size: xx-large;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin: 8%;
    opacity: 0;
    animation: ShowUpText 4s 3s both;
    
    
}

@keyframes ShowUpText {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

h4 {
    font-size: medium;
}

h1 {
    width: max-content;
}



#underLine1 {
    width: 100%;
    size: large;
    margin-left: 7%;
    border: 2px solid #53C2B1;
    display: block;
    animation: slidein1 3s 0s;
    opacity: 1;
  }
  
  
  @keyframes slidein1 {
    from {
      margin-left: 180%;
      width: 200%;
      opacity: 0;
    }
  
    to {
      margin-left: 7%;
      width: 100%;
      opacity: 1;
    }
  }

  #underLine2 {
    width: 80%;
    margin-top: 3%;
    margin-left: 7%;
    border: 1px solid #000000;
    display: block;
    animation: slidein2 4s 0s;
    opacity: 1;
  }
  
  
  @keyframes slidein2 {
    from {
      margin-left: 200%;
      width: 140%;
      opacity: 0;
    }
  
    to {
      margin-left: 7%;
      width: 80%;
      opacity: 1;
    }
  }


